body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color:#de947e;
      color: #4a2c2a;
      text-align: center;
    }

    header {
      background: url('') no-repeat center center;
      background-size: cover;
      padding: 30px 20px;
      color: #4a2c2a;
    }

    header h1 {
      font-size: 48px;
      margin: 0;
    }

    header p {
      font-size: 20px;
    }

    section {
      padding: 40px 20px;
    }

    .cta-button {
      background-color: rgb(192, 177, 150);
      color: black;
      padding: 15px 30px;
      text-decoration: none;
      font-weight: bold;
      border-radius: 8px;
      display: inline-block;
      margin-top: 20px;
      cursor: pointer;
    }

    footer {
      background-color: #de947e;
      padding: 20px;
      font-size: 14px;
    }

    .form-container {
      background-color: #333;
      padding: 20px;
      max-width: 400px;
      margin: 20px auto;
      border-radius: 10px;
    }

    input[type="text"], input[type="email"], input[type="password"] {
      width: 90%;
      padding: 10px;
      margin: 10px 0;
      border: none;
      border-radius: 5px;
    }

    .toggle-link {
      color: #b8908e;
      cursor: pointer;
      display: block;
      margin-top: 10px;
    }