body {
    background-color: rgb(58, 56, 56);
    text-align: center;
}
.cont{
    background-image: url(/images/hallow.jpg);
    background-size: cover;
    border: none;
    border-radius: 5px;
    width: 300px;
    height:fit-content;
    margin: auto;
    padding: 5%;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(52, 51, 51);
}
.img .icon{
width: 20px;
height: 20px;
margin-right: 10px;
color: #ccc;
background-color: grey;
}
.img input{
    background-color: rgb(48, 47, 47);
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
}
h1{
    font-weight: bolder;
    font-style:italic;
    color: orange;
}
p{
    font-weight: bold;
    font-style: italic;
    color: orange;
}
h2{
    font-weight: bold;
    font-style: italic;
    color: orange;
}
.csd{
  background-color: rgb(48, 47, 47);
    border: none;
    outline: none;
    flex: 1;
    padding: 5px;
    color: rgb(40, 39, 39); 
    height: 50px;
    width: 250px;
    border-radius: 10px;
}
.sbt-btn{
    background-color: orange;
    width: 100px;
    height: 50px;
}

